$monitor-height: 95vh;
$monitor-width: 90vw;
$stand-height: calc(100vh - $monitor-height);
$stand-width: calc($monitor-width/2);
$screen-width: 95%;
$screen-height: 90%;
$bevel-width: 90%;
$bevel-height: 85%;